body{
  margin: 0;
  font-family: Arial,sans-serif;
  background-image: linear-gradient(160deg, #fff7ec, #f3ccff);
  background-size: cover;
}

#logoutButton{
  display: none;
}

.login-form, .signup-form{
    max-width: 530px;
    padding: 25px;
    background-image: linear-gradient(to bottom right, #fffcf7, #e9e9e9);
    border-radius: 20px;
    color: #555;
}

.login-form .btn, .signup-form .btn{
    background-color: #0a0;
    color:white;
    border-radius: 5px;
    border: none;
}

.login-form label, .signup-form  label{
    font-size: 13px;
}

.login-form input, .signup-form  input{
}

a:hover{
    cursor: pointer;
}

#addProductForm label{
    color: #5c5a5a;
}

#addProductForm legend{
    color: #3b5dff;
}

.navbar{
    background-image: linear-gradient(#ffffff, #d4d4d4);
}

.navbar-brand{
    color:#4b187b;
}

/*
#deal{
    border: 3px solid blueviolet;
    border-radius: 20px;
}*/

#deal{
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    color: #555;
}

#signInButton, #signUpButton, #logoutButton{
    background-color: blueviolet;
    border:none;
    color: white;
}

#product-main-div button, .round-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #9554d3, #a860ed);
    color: white;
    box-shadow: 0px 0px 7px #333;
    border: none;
    text-shadow: 0px 1px 2px #333;
}

#product-main-div button:hover, .round-btn:hover{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #8d51c6, #a45fe6);
    color: white;
    box-shadow: 0px 0px 7px #333;
    border: none;
    text-shadow: 0px 1px 2px #333;
}

#product-main-div img{
    box-shadow: 0px 0px 5px 1px #ddd;
}

.btn-new, .order-total{    
    background-image: linear-gradient(to bottom, #9554d3, #a860ed);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px
}

.btn-green{    
    background-image: linear-gradient(to bottom, #30af51, #249034);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px
}
.btn-green:hover{    
    background-image: linear-gradient(to bottom, #175f29, #249034);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px
}

.bg-new{
   background-image: linear-gradient(to bottom, #9554d3, #a860ed); 
}